
<h1>Stupid Coaching<h1>
<p>Ask your coach anything:</p>
<form action="/answer" method="get">
  <input class="input_field" type="text" name="question" placeholder="Enter question for coach">
  <button class="submit_button" type="submit" value="Ask!">Ask!</button>
</form>
